<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="info.einverne.exercise100">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="Preference" />
        <activity android:name=".activity.WidgetSettingsActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".MyAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="info.einverne.exercise100.ACTION_WIDGET_TEXT" />
                <action android:name="info.einverne.exercise100.ACTION_WIDGET_IMAGEBUTTON" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_app_widget_info" />
        </receiver>

        <service
            android:name=".UpdateWidgetService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="info.einverne.exercise100.UpdateWidgetService" />
            </intent-filter>
        </service>

        <activity android:name=".activity.DataActivity" />
        <activity android:name=".activity.TextViewTestActivity" />
        <activity
            android:name=".activity.DemoActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BasicActivity" />
        <activity android:name=".activity.ChangeThemeActivity" />
        <activity android:name=".activity.PermissionActivity" />
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/title_activity_notification" />
        <activity android:name=".activity.AnimationActivity"></activity>
    </application>

</manifest>